{%extends 'base.html.twig'%}

{% block body %}
<h1>Bonjour
</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae earum ad eius tenetur, cum doloribus deleniti vitae quos tempore sequi quam. Quisquam eum sequi, nesciunt blanditiis sunt ex illo quis!</p>
<p>Inventore deleniti at ipsa vel ullam. Laudantium voluptatum fugiat nam illum animi at voluptas deleniti a reiciendis incidunt possimus eveniet, consequatur maxime provident. Explicabo dolores vero sed quae sit vitae?</p>
{% endblock %}