{%extends 'base.html.twig'%}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

 {% block body %}
 <h1>Ajouter un Employer</h1>
  {{form_start(form)}}
  {{form_widget(form)}} 

  <button type="submit" class="btn btn-primary btn-lg">
    {% if editMode %}
        Modifier
        {% else %}
            Enregister
    {% endif %} 
   </button>
   {{form_end(form)}} 
    

  
   {% endblock %}